
@{
    ViewBag.Title = "Daily";
}
@model Web.Controllers.VMTNTDailyModel
@using Newtonsoft.Json

@section scripts {
    <script language="javascript" type="text/javascript">
        $(function () {
            $("#currentdate").datepicker({

                dateFormat: "yy-mm-dd"                
            });

           
           

            var data = ko.mapping.fromJSON('@Html.Raw(JsonConvert.SerializeObject(this.Model))');

            var inputForm = new InputForm();
            inputForm.Data = data;



            ko.applyBindings(inputForm);
           
        });

    function InputForm() {
        var self = this;
        self.Data = null;
        self.fileLink = ko.observable("");
        self.Working = ko.observable(false);

        self.SendOrders = function()
        {
            self.Working(true);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Content("~/TNT/SendOrders")",
                data: ko.mapping.toJSON(self.Data),
                dataType: "json",
                success: function (data) {
                    self.Working(false);
                    self.fileLink(data.Link);
                },
                error: function(jqXHR, textStatus, errorThrown )
                {
                    alert(jqXHR.responseText);
                }
            });
        }



        self.CreateManifestSummary = function ()
        {
            self.Working(true);
            self.fileLink("");
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Content("~/TNT/CreateManifestSummary")",
                    data: ko.mapping.toJSON(self.Data),
                    dataType: "json",
                success: function (data) {
                    self.fileLink(data.Link);
                    self.Working(false);
                },
                error: function(jqXHR, textStatus, errorThrown )
                {
                    alert(jqXHR.responseText);
                }
            });
        }
        self.CreateManifestDetail = function ()
        {
            self.Working(true);
            self.fileLink("");
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Content("~/TNT/CreateManifestDetail")",
                data: ko.mapping.toJSON(self.Data),
            dataType: "json",
            success: function (data) {
                self.fileLink(data.Link);
                self.Working(false);
            },
            error: function(jqXHR, textStatus, errorThrown )
            {
                alert(jqXHR.responseText);
            }
        });
    }
        self.Search = function (formelement)
        {
            self.Searching(true);
            self.Data.Orders([]);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Content("~/TNT/Daily")",
                data: ko.mapping.toJSON(self.Data),
            dataType: "json",
            success: function (data) {
                ko.mapping.fromJS(data, self.Data);
                self.Searching(false);
                $(".datePicker").datepicker({
                    dateFormat: "yy-mm-dd"
                });
            },
            error: function(jqXHR, textStatus, errorThrown )
            {
                alert(jqXHR.responseText);
            }
            });
        }
        self.Searching = ko.observable(false);
        self.SelectedCarrier = ko.observable();
    };
    </script>
}
<h2>Daily orders</h2>

<div style="display: none" data-bind="visible: true">

    <form class="form-horizontal" data-bind="{submit: Search}">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
                <input type="text" id="currentdate" data-bind="value: Data.CurrentDate" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Carrier</label>
            <div class="col-sm-10">
                <select data-bind="options: Data.Carriers(),
                        optionsText: 'Name',
                        optionsValue:'Id',
                        value: Data.SelectedCarrier" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </div>


        <img data-bind="visible: Searching" src="@Url.Content("~/Images/indicator.gif") " />
        <table data-bind="visible: Data.Orders().length > 0 && !Searching()" class="table table-bordered">
            <thead>
                <tr>
                    <td>Order id</td>
                    <td>Include</td>
                    <td>Shipped on</td>
                    <td>Part number</td>
                    <td>#</td>
                    <td>Container</td>
                    <td>Tracking number</td>
                </tr>
            </thead>
            <tbody data-bind="foreach: Data.Orders">
                <tr>
                    <td data-bind="attr: { rowspan: Count }"><span data-bind="text: OrderId"></span></td>
                    <td data-bind="attr: { rowspan: Count }"><input type="checkbox" data-bind="checked: Include"></td>
                    <td data-bind="attr: { rowspan: Count }"><input type="text" width="20" data-bind="value: ShippedOn, enable: !Include()" class="datePicker"></td>
                </tr>
                <!-- ko foreach: OrderLines -->
                <tr>
                    <td><span data-bind="text: PartNumber"></span> </td>
                    <td><span data-bind="text: Quantity"></span> </td>
                    <td><span data-bind="text: ContainerName"></span> </td>
                    <td><span data-bind="text: TrackingNumber"></span> </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <button  class="btn btn-default" data-bind="{visible: Data.Orders().length > 0 && !Searching(), click: SendOrders}">Send orders</button>
        <button class="btn btn-default" data-bind="{visible: Data.Orders().length > 0 && !Searching(), click: CreateManifestSummary}">Create manifest summary</button>
        <button class="btn btn-default" data-bind="{visible: Data.Orders().length > 0 && !Searching(), click: CreateManifestDetail}">Create manifest detail</button>
        <a target="_blank" data-bind="{attr: { href: fileLink }, visible: fileLink().length>0}">Open File</a>
        <img data-bind="visible: Working" src="@Url.Content("~/Images/indicator.gif") " />
    </form>
</div>